name: TEST

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs: 
  build:
   runs-on: ubuntu-latest 
     
   steps: 
       - uses: actions/checkout@v2
       - name: Python install
         uses: actions/setup-python@v2
       - name: setup package 
         uses: py-actions/flake8@v1
         with:
           path: "scr/main.py"
       - name: result
         run: echo linting is done
        #SO what? 
  test:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2
        - name: Python install
          uses: actions/setup-python@v2
        - name: install pytest
          run: |
             python -m pip install --upgrade pip
             pip install pytest
             pip install requests
        - name: run test
          run: pytest -vv
          
        - name: result
          run: echo something was happened 
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Push packages  
      #uses: docker/build-push-action@v1
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Build
      uses: docker/build-push-action@v2
      with:
       context: .
       file: ./Dockerfile
       load: true
       tags: myimage:latest
    - name: Inspect
      run: |
          docker image inspect myimage:latest
      uses: akhileshns/heroku-deploy@v3.9.9
      with:
          heroku_api_key: ${{secrets.HEROKU_KEY}}
          heroku_app_name: "simpleapi9215"  
          heroku_email: "tarakan.korolev@yandex.ru"
          usedocker: true